* {
  width: 300px;
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  margin: 0;
  padding: 8px 12px;
}

.header__icon {
  width: 25px;
  margin-right: 2px;
  padding: auto;
  display: inline-block;
  vertical-align: middle;
}

.header__title {
  width: 100px;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 23px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  color: #031928;
  display: inline-block;
  vertical-align: middle;
}

.icon {
  width: 20px;
  margin: 0;
  padding: 0;
  font-size: 19px;
  color: #999999;
  display: inline-block;
  vertical-align: middle;
}

.icon:hover {
  color: #666666;
  cursor: pointer;
}

.github-icon {
  margin: 0 5px 0 94px;
}

.content {
  width: 100%;
  margin: 0;
  padding: 7px 0 12px 0;
  font-family: 'Montserrat', sans-serif;
  color: #0F2B46;
  background-color: #f1f1f1;
  text-align: center;
}

.lang-select {
  width: 120px;
  display: inline-block;
  text-align: center;
}

.lang-select__label {
  width: inherit;
  margin-bottom: 2px;
  font-size: 13px;
}

.lang-select__dropdown {
  width: 119px;
  padding: 0.5em;
  font-size: 16px;
  font-weight: 400;
  font-family: inherit;
  color: #0F2B46;
  background-color: white;
  border: 1px solid #0F2B46; /* #0F2B46 #006494 rgba(15, 43, 70, 0.2) */
  border-radius: 3px;
  cursor: pointer;
}

.lang-select__dropdown:hover {
  color: #006494;
  border: 1px solid #006494;
}

.lang-select__dropdown:focus {
  outline: 0;
}

.content__arrow {
  width: 10px;
  font-size: 20px;
  font-weight: 700;
  font-family: "Dosis", sans-serif;
  margin: 0 10px;
  color: #0F2B46;
  display: inline-block;
  text-align: center;
}

.translate-button {
  width: 276px;
  margin-top: 12px;
  padding: 0.75em 1.5em;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  color: white;
  background-color: #0F2B46;
  border: none; /* #1B98E0 #1D84B5 #5299D3 */
  border-radius: 3px;
  cursor: pointer;
}

.translate-button:hover {
  background-color: #006494;
}

.translate-button:focus {
  outline: 0;
}

.footer {
  width: 100%;
  height: 22px;
  margin: 0;
  padding: 0;
  color: #0F2B46;
}

p {
  margin: 0;
  padding: 0;
}
